*~
*.kdev4
*swp
*.db
*.pyc
*.log
*.zip
*.tar
*.gz
*.bz2
*.rar
tmp
.clocignore
_build
.directory

# virtualenv, ignored by appengine
env/
# lib/py - python libs prepared for appengine
lib/

# build folders
bower_components/
node_modules/

# appengine
.gaedata
